<!DOCTYPE html>
<html>
  <head>
    <title>Consultationchat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      .balloon {
        position: relative;
        padding: 10px;
        border-radius: 10px;
        background-color: #d3d3d3;
        color: #000000;
        max-width: 250px;
        font-size: 15px;
        word-wrap: break-word;
        margin-left: 10px;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
